@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Lobster&family=Open+Sans:wght@300&family=Roboto:ital,wght@1,300&family=Secular+One&family=Zilla+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Lobster&family=Open+Sans:wght@300&family=Secular+One&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*Definicion de variables */
/*Para los subtitulos--trabajamos con h3*/

:root {
    --ColorFondoPrimaria: white;
    --BackgroundHeader: #e8dcdc;
    --FontH1: black;
    --FontFamilyH1: 15px;
    /*Color del fondo del nava*/
    --backgroundNav: #B4789D;
    /*Tipo de letra del menu */
    --FonFamilyMenu: Arial;
    /*Color de letra de los menus*/
    --colorFontMenu: black;
    /*Tamaño de letra de los menus*/
    --fontSizeMenus: 18px;
    /*Variables de la seccion principal, donde estan parrados, imagenes */
    --BackGroundSeccionPrincipal: #eaddd0;
    /*Color de letra para el h3 que son subtitulos de la seccion principal, Donde estan parrafos*/
    --fontColorPrinciplaH3: black;
    --fontFamilyH3: Arial;
    --FontSizeH3: 15px
    /*Variables para el manejo de parrafos */
    --fontFamiliParrafo: Arial, Verdana;
    --fontSizeParrafo: 12px;
    /*Parametros para el fondo de mascotas para adoptar */
    --backgroundAdoptar: white;
    /*Color de fondo del aside */
    --backgroupdAside: #eaddd0;
    --fontSizeAside: 20px;
    /*Variables de los parametros del footer */
    --backgroundFooter: #B4789D;
    /*Variables para los enlaces */
}

/*====================navbar nuevo felix==================================*/
.menu{
    background-color: var(--backgroundNav);
    font-family: var(--FonFamilyMenu);
   
}
#editmenu{
    color: antiquewhite;
    background-color: inherit;
}
#editmenu:hover{
    background-color: white;
    color: black;
}
.menu ul li a{
    color: black;
    font-family:var(--FonFamilyMenu) ;
    font-size: 15px;
}
.menu ul li a:hover{
    background-color: var(--backgroundNav);
    color: aliceblue;
}
#regis{
    position: absolute;
    color: antiquewhite;
    background-color: transparent;
    height: 50px;
    font-size: 16px;
    right: 20px;
    border: none;
}
#regis a{
    text-decoration: none;
    color: antiquewhite;
    font-family: var(--FonFamilyMenu);
}
#regis1 a{
    text-decoration: none;
    color: antiquewhite;
    font-family: var(--FonFamilyMenu);
    background-color:transparent;
}
#regis1{
    position: absolute;
    color: antiquewhite;
    background-color: transparent;
    height: 50px;
    font-size: 16px;
    right: 110px;
    border: none;

}
/*=========================HEADER FELIX NUEVO======================== */
.banerPrincipal img{
    height: auto;
    width: 100%;
}
.enunciado{
    text-align: center;
    background-color: var(--backgroundNav);
    height: 80px;

}
.enunciado1{
    font-size: 60px;
    text-align: center;
    color: white;
}

/*==TRABAJAR LO QUE TENEMOS QUE HACER SOLO EN EL MAIN======*/

/*========CONTENEDOR MAIN ACORDEON DERECHA   E IMAGEN  IZQUIERDA======*/
  
.other{
    display: flex;
    flex-direction: row;
    height: 500px;
    overflow: hidden;
    background-color: var(--BackgroundHeader)

}
/*============CONTENEDOR DEL LADO DERECHO ESTRELLA Y NOMBRE EMPRESA===*/
.lado{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: transparent;
    margin: auto;
}


/*==================tamaño estrella y ubicacion============*/
.estrella{
    height: 180px;
    width: 180px;
    margin: auto;
}

/*==estilos nombre empresa y ubicacion================*/
.name{
    font-family: var(--FontFamilyH1);
    margin: auto;
    font-size: 35px;
}
.name1{
    font-family: var(--FontFamilyH1);
    margin: auto;
    font-size: 15px;
    padding-bottom: 8px;
    
    
}
.name2{
    font-family: var(--FontFamilyH1);
    margin: auto;
    font-size: 15px;
    padding-bottom: 12px;
    color: var(--backgroundNav); 
}
.lado h3 a{
    text-decoration:none;
    color: var(--backgroundFooter);
}

/*==============CONTENEDOR LADO DERECHO ACORDEON BOOTSTRAP=======*/
.acordeon{
    width: 70%;
    margin: auto;
    
}


/*============FIN DEL MAIN======================*/
/*=====LETRA DEL BOOTSTRAP TITULOS ACORDEON Y LETRA DEL SUBMENU=====*/
.letraboot{
    font-size: 18px;
}
strong{
    font-size: 15PX;
}
ul{
    font-size: 12PX;  
}
.fontin{
    font-size: 12px;
}



/*====================TRABAJADO EN GRUPO===============================*/


/* footer bootstrap*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 18%;
    background: #d6dee0;
    padding: 10px 0;
    border: outset 0.1px white;
    z-index: -1;
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
    background-color: rgba(30, 13, 159, 0.335);
  }
  .right{
      margin-left: 10px;
      margin-top: 10px;

  }
  

  


