
/*    formulario  registro    */

.formRegistro{
    position: relative;
    background-color: white;
    width: 365px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 45px;
    padding-bottom: 30px;
}
.formRegistro input{

    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width:100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    z-index: 2;
}
.botonRegistro{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border: 0;
    background: #4CAF50;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-size: 14px;
}
.botonRegistro:hover{
    background: #43A047;
}
p{
    display: flex;
    justify-content: center;
}
.message {
    margin: 15px 0 0;
    color: var(--secundario);
    font-size: 12px;
}
.message a{
    color: #43A047;
    text-decoration: none;
    margin-left: 10px;
}
