.SubtituloServicios{
    background-color: var(--backgroundNav);
    color:white;
    text-align: center;
    padding: 15px;
}
.wrapServicios{
    margin: 55px 0;
    display: flex;
    justify-content: space-around;
}
.tarjetaServicios{
    height: 250px;
    width: 200px;
    border: inset 2px var(--backgroundNav);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #00000033, 0 5px 5px 0 #0000003d;
}
.tarjetaServicios img{
    width: 100%;
}
.tarjetaServicios h2{
    margin: 15px 0;
    color: var(--backgroundNav);
}
.tarjetaServicios:hover{
    -webkit-transform:scale(1.5);
    transform:scale(1.25); 
    transition: 400ms;
    }
.tarjetaServicios {
    overflow:hidden;
}